.selectmenu-toggle:not(:disabled) {
    cursor: default;
}

.selectmenu-toggle {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right (@spacing / 2) center;
    background-size: 16px 12px;
}

.selectmenu-multi {
    padding: (@spacing / 4) (@spacing / 4) (@spacing / 2) (@spacing / 2);
    cursor: text;
}

.selectmenu-placeholder {
    color: @form-placeholder;
    pointer-events: none;
    user-select: none;
}

.selectmenu-multi-input {
    width: 0;
    height: @spacing * 1.5;
    min-width: 20px;
    background: transparent;
    outline: 0;
}

.selectmenu-multi .btn {
    height: @spacing * 1.5;
    padding: (@spacing / 8) (@spacing / 2);
    font-size: @spacing * .75;
}

.selectmenu-multi > * {
    margin: (@spacing / 4) (@spacing / 4) 0 0;
}

.selectmenu-menu {
    width: 100%;
    position: absolute;
    z-index: @z-dropdown;
    padding: 0;
    margin: (@spacing / 8) 0 0;
    font-size: 1rem;
    color: @dark;
    text-align: left;
    list-style: none;
    background-color: @white;
    border: @border-size @border-style @border-color;
    border-radius: @border-radius;
}

.selectmenu-items {
    max-height: @menu-height;
    margin: 0;
    list-style-type: none;
    overflow-y: auto;
}

.selectmenu-item {
    display: block;
    width: 100%;
    padding: (@spacing / 4) @spacing;
    clear: both;
    font-weight: @font-weight;
    color: @text;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;

    &:first-child {
        border-top-left-radius: inherit;
        border-top-right-radius: inherit;
    }

    &:last-child {
        border-bottom-left-radius: inherit;
        border-bottom-right-radius: inherit;
    }
}

.selectmenu-disabled {
    opacity: @disabled-opacity;
    pointer-events: none;
}

.selectmenu-action {
    cursor: default;
}

.selectmenu-active {
    color: @text;
    text-decoration: none;
    background-color: @hover-color;
}

.selectmenu-focus {
    &,
    &.selectmenu-active {
        color: @white;
        background-color: @primary;
    }
}

.selectmenu-group {
    display: block;
    padding: (@spacing / 2) (@spacing);
    margin-bottom: 0;
    font-size: @font-size-sm;
    color: @dark;
    white-space: nowrap;
}